<mat-toolbar color="primary">
  <span class="mat-subheading-1" *ngIf="menu"> Hasan Sulaiman</span>
  <span class="mat-subheading-1" *ngIf="navdivhide">Portfolio</span>
  <span class="example-spacer"></span>
  <mat-nav-list *ngIf="navdivhide" class="mat-body-2">
    <a href="#About"> About</a>
    <a href="#Port"> Portfolio</a>
    <a href="#exp"> Experiance</a>
    <a href="#Resume"> Resume</a>
    <a href="#Contact"> Contact</a>
  </mat-nav-list>
  <span class="example-spacer"></span>
  <mat-slide-toggle [formControl]="toggleControl"></mat-slide-toggle>
  <div class="menu" *ngIf="menu">
    <button mat-mini-fab [matMenuTriggerFor]="menu">
      <mat-icon>menu</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item active>
        <mat-icon> home</mat-icon>
        <a href="#About"> About</a>
      </button>
      <button mat-menu-item>
        <mat-icon> dataset</mat-icon>
        <a href="#Port"> Portfolio</a>
      </button>
      <button mat-menu-item>
        <mat-icon> <span> view_timeline </span></mat-icon>
        <a href="#exp"> Experiance</a>
      </button>
      <button mat-menu-item>
        <mat-icon> transcribe</mat-icon>
        <a href="#Resume"> Resume</a>
      </button>
      <button mat-menu-item>
        <mat-icon> transcribe</mat-icon>
        <a href="#Contact"> Contact</a>
      </button>
    </mat-menu>
  </div>
</mat-toolbar>
<!-- <div class="side">
        <a href="https://www.facebook.com/hassoon93" >
          <mat-icon matListIcon svgIcon="face"> </mat-icon>
        </a>
        <a href="https://www.facebook.com/hassoon93">
          <mat-icon matListIcon svgIcon="tele"></mat-icon>
        </a>
        <a href="mailto:hassnsuliman@gmail.com">
          <mat-icon matListIcon svgIcon="mail"></mat-icon>
        </a>
        <a href="tel:+963934152254" >
           <mat-icon matListIcon svgIcon="call"></mat-icon>
        </a>
        <a href="https://github.com/HASANsuliman?tab=repositories">
          <mat-icon svgIcon="git"></mat-icon>
        </a>
        <a href="https://www.linkedin.com/in/hassn-suliman-26320b242?lipi=urn%3Ali%3Apage%3Ad_flagship3_profile_view_base_contact_details%3BkjDEHGzfS6aAuJ6uPAWN2g%3D%3D"
      >
      <mat-icon svgIcon="lin"></mat-icon>
      </a>

  </div> -->

<div class="main">
  <section id="About" data-aos="fade-up" data-aos-duration="1000">
    <mat-grid-list [cols]="cols" [rowHeight]="rows" class="about">
      <mat-grid-tile data-aos="fade-right" data-aos-duration="1000">
        <div class="tile">
          <h3>Hasan Sulaiman</h3>
          <p>
            Hey there Welcome to my personal website!<br />

            I'm a software engineer specialised in frontend and backend
            development for complex scalable web apps.<br />
            Want to know how I may help your project?<br />
            Check out my project portfolio.
          </p>
        </div>
      </mat-grid-tile>
      <mat-grid-tile> </mat-grid-tile>
      <mat-grid-tile data-aos="fade-left" data-aos-duration="1000">
        <img src="../../assets/img/has1.jpg" alt="Hasan" />
      </mat-grid-tile>
    </mat-grid-list>

    <mat-grid-list [cols]="1" [rowHeight]="rowsdo">
      <mat-grid-tile data-aos="zoom-in-up">
        <div class="tile">
          <h2 class="section-title">What I do</h2>
          <p>
            I have more than 2 years' experience building software for clients .
            Below is a quick overview of my main technical skill sets and
            technologies I use. Want to find out more about my experience? Check
            out my project portfolio.
            <br />
            Software engineer for Syriatel company in the sales department I
            work on many applications and reporting tools in addition to a data
            analyst with excellent experience
          </p>
        </div>
      </mat-grid-tile>
    </mat-grid-list>
    <mat-grid-list [cols]="cols" [rowHeight]="rows">
      <mat-grid-tile data-aos="zoom-in-right" data-aos-duration="1000">
        <div class="tile">
          <mat-icon svgIcon="html"></mat-icon>
          <mat-icon svgIcon="css"></mat-icon>
          <h3>HTML & CSS</h3>
          <p>
            Good experiance dealing with html and css code for alot of projects
            using alot of technices that help to build a responsive web
            application
          </p>
        </div>
      </mat-grid-tile>
      <mat-grid-tile data-aos="zoom-in-left" data-aos-duration="1000">
        <div class="tile">
          <mat-icon svgIcon="ang"></mat-icon>
          <mat-icon svgIcon="vue"></mat-icon>
          <h3>Angular & Vue</h3>
          <p>
            More than 2 years experiance using fron end frameworks with seviral
            tools to enhace your web application to its max level
          </p>
        </div>
      </mat-grid-tile>
      <mat-grid-tile data-aos="zoom-in-right" data-aos-duration="1000">
        <div class="tile">
          <mat-icon svgIcon="c"></mat-icon>

          <h3>C#</h3>
          <p>
            Helped to develope and monitor and maintain application using
            asp.net framework using C# . you can check my projects section
          </p>
        </div>
      </mat-grid-tile>
      <mat-grid-tile data-aos="zoom-in-left" data-aos-duration="1000">
        <div class="tile">
          <mat-icon svgIcon="mat" style="margin-right: 10px"></mat-icon>
          <mat-icon svgIcon="boot"></mat-icon>
          <h3>Material & Bootstrap</h3>
          <p>
            Portfolio made by material and Bootstrap design using custome
            typography and tow diffrent themes and animation of CSS3
          </p>
        </div>
      </mat-grid-tile>
      <mat-grid-tile data-aos="zoom-in-right" data-aos-duration="1000">
        <div class="tile">
          <mat-icon svgIcon="ora2"></mat-icon>
          <mat-icon svgIcon="sql"></mat-icon>
          <h3>Oracle & SQL</h3>
          <p>
            Working with oracle database and sql server jobs & procedure and
            making new tools to handle data for Syriatel Company
          </p>
        </div>
      </mat-grid-tile>
    </mat-grid-list>
    <div>
      <h2 class="section-title">Testimonials</h2>
    </div>

    <!-- <mat-grid-tile>
        <div class="tile">
          <h4>Aula MHD</h4>
          <p>
            Title: Senior software engineer<br />
            Syriatel company<br />
            hasan is Lorem ipsum dolor sit amet consectetur adipisicing elit.
            Dolore earum ratione, vero nemo velit perspiciatis esse amet animi
            cupiditate odit est eaque ullam sunt blanditiis, non eius, voluptate
            atque accusantium.
          </p>
        </div>
      </mat-grid-tile>
      <mat-grid-tile>
        <div class="tile">
          <h4>Amro Daoud</h4>
          <p>
            Title:Data engineer & Data Scince Expert <br />
            Syriatel company<br />
            hasan is Lorem ipsum dolor sit amet consectetur adipisicing elit.
            Dolore earum ratione, vero nemo velit perspiciatis esse amet animi
            cupiditate odit est eaque ullam sunt blanditiis, non eius, voluptate
            atque accusantium.
          </p>
        </div>
      </mat-grid-tile>
      <mat-grid-tile>
        <div class="tile">
          <h4>Amro Karouny</h4>
          <p>
            Title: Expert Data engineer <br />
            Syriatel company<br />
            hasan is Lorem ipsum dolor sit amet consectetur adipisicing elit.
            Dolore earum ratione, vero nemo velit perspiciatis esse amet animi
            cupiditate odit est eaque ullam sunt blanditiis, non eius, voluptate
            atque accusantium.
          </p>
        </div>
      </mat-grid-tile>
      <mat-grid-tile>
        <div class="tile">
          <h4>MHD Ismaiel</h4>
          <p>
            Title: Senior software engineer <br />
            Syriatel company<br />
            hasan is Lorem ipsum dolor sit amet consectetur adipisicing elit.
            Dolore earum ratione, vero nemo velit perspiciatis esse amet animi
            cupiditate odit est eaque ullam sunt blanditiis, non eius, voluptate
            atque accusantium.
          </p>
        </div>
      </mat-grid-tile> -->

    <mat-grid-list [cols]="Testimonialscols2" [rowHeight]="Testimonialsrows2">
      <mat-grid-tile data-aos="zoom-in" data-aos-duration="1000">
        <div class="tile">
          <mat-card class="example-card">
            <mat-card-title-group>
              <mat-card-title>
                <h4>Aula Mhd</h4>
              </mat-card-title>
              <mat-card-subtitle>Syriatel Company <br />Title: Senior software engineer
              </mat-card-subtitle>
              <img mat-card-sm-image src="" />
            </mat-card-title-group>
            <mat-card-content>
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Molestias iusto assumenda vitae dolore at sapiente, eveniet
                quisquam. Beatae nesciunt, ipsa asperiores consectetur accusamus
                labore voluptates iusto. Natus exercitationem sunt ducimus?
              </p>
            </mat-card-content>
          </mat-card>
        </div>
      </mat-grid-tile>
      <mat-grid-tile data-aos="zoom-in" data-aos-duration="1000">
        <div class="tile">
          <mat-card class="example-card">
            <mat-card-title-group>
              <mat-card-title>
                <h4>Amro Daoud</h4>
              </mat-card-title>
              <mat-card-subtitle>Syriatel Company <br />Title:Data engineer & Data Scince Expert
                <br />
              </mat-card-subtitle>
              <img mat-card-sm-image src="" />
            </mat-card-title-group>
            <mat-card-content>
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Molestias iusto assumenda vitae dolore at sapiente, eveniet
              </p>
            </mat-card-content>
          </mat-card>
        </div>
      </mat-grid-tile>
      <mat-grid-tile data-aos="zoom-in" data-aos-duration="1000">
        <div class="tile">
          <mat-card class="example-card">
            <mat-card-title-group>
              <mat-card-title>
                <h4>Amro Karouny</h4>
              </mat-card-title>
              <mat-card-subtitle>Syriatel Company <br />Title:Data engineer & Data Scince Expert
              </mat-card-subtitle>
              <img mat-card-sm-image src="" />
            </mat-card-title-group>
            <mat-card-content>
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Molestias iusto assumenda vitae dolore at sapiente, eveniet
                quisquam. Beatae nesciunt, ipsa asperiores consectetur accusamus
                labore voluptates iusto. Natus exercitationem sunt ducimus?
              </p>
            </mat-card-content>
          </mat-card>
        </div>
      </mat-grid-tile>
      <mat-grid-tile data-aos="zoom-in" data-aos-duration="1000 ">
        <div class="tile" data-aos="zoom-in">
          <mat-card class="example-card">
            <mat-card-title-group>
              <mat-card-title>
                <h4>Mhd Ismaiel</h4>
              </mat-card-title>
              <mat-card-subtitle>Syriatel Company <br />Title: Senior software engineer
              </mat-card-subtitle>
              <img mat-card-sm-image src="" />
            </mat-card-title-group>
            <mat-card-content>
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Molestias iusto assumenda vitae dolore at sapiente, eveniet
                quisquam. Beatae nesciunt, ipsa asperiores consectetur accusamus
                labore voluptates iusto. Natus exercitationem sunt ducimus?
              </p>
            </mat-card-content>
          </mat-card>
        </div>
      </mat-grid-tile>
      <mat-grid-tile data-aos="zoom-in" data-aos-duration="1000 ">
        <div class="tile" data-aos="zoom-in">
          <mat-card class="example-card">
            <mat-card-title-group>
              <mat-card-title>
                <h4>Mhd Ismaiel</h4>
              </mat-card-title>
              <mat-card-subtitle>Syriatel Company <br />Title: Senior software engineer
              </mat-card-subtitle>
              <img mat-card-sm-image src="" />
            </mat-card-title-group>
            <mat-card-content>
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Molestias iusto assumenda vitae dolore at sapiente, eveniet
                quisquam. Beatae nesciunt, ipsa asperiores consectetur accusamus
                labore voluptates iusto. Natus exercitationem sunt ducimus?
              </p>
            </mat-card-content>
          </mat-card>
        </div>
      </mat-grid-tile>
    </mat-grid-list>
  </section>

  <section id="Port" data-aos="fade-up" data-aos-duration="1000">
    <div>
      <h2 class="section-title">Projects</h2>
      <p>
        Here You can find all my works and Project I'm taking on freelance work
        at the moment, Want some help building your software?
      </p>
    </div>
    <mat-grid-list [cols]="projectscols2" [rowHeight]="projectsrows">
      <mat-grid-tile data-aos="flip-right" data-aos-duration="1000">
        <div class="tile">
          <mat-card class="example-card">
            <div class="overlay">
              <div class="text">
                <button mat-raised-button color="primary">check it</button>
              </div>
            </div>
            <mat-card-title-group>
              <mat-card-title>
                <h4>
                  <mat-icon>app_registration</mat-icon>
                  Sales Reporting System
                </h4>
              </mat-card-title>
              <mat-card-subtitle>
                <p>Client : Syriatel Company</p>
              </mat-card-subtitle>
            </mat-card-title-group>
            <mat-card-content>
              <p>
                SRS for Syriatel company handling Sales Reports for all cities
                with Dashboard to visulaize the data and monitor it via easy and
                flexable charts to make beter undersatnding for data Company
              </p>
              <h4>Description</h4>
              <p>
                Help to build API and implement all functions with oracle
                Database Building front end using angular with Material design
                <br />
                Client: Syriatel
              </p>
            </mat-card-content>
          </mat-card>
        </div>
      </mat-grid-tile>
      <mat-grid-tile data-aos="flip-left" data-aos-duration="1000">
        <div class="tile">
          <mat-card class="example-card" [ngClass]="cardhe">
            <img src="../assets/img/code.jpg" alt="" />
          </mat-card>
        </div>
      </mat-grid-tile>
      <mat-grid-tile data-aos="flip-right" data-aos-duration="1000">
        <div class="tile">
          <mat-card class="example-card">
            <div class="overlay">
              <div class="text">
                <button mat-raised-button color="primary">check it</button>
              </div>
            </div>
            <mat-card-title-group>
              <mat-card-title>
                <h3>
                  <mat-icon>app_registration</mat-icon>
                  School Mangement System
                </h3>
              </mat-card-title>
              <mat-card-subtitle>
                <p>Client : Syriatel Company</p>
              </mat-card-subtitle>
            </mat-card-title-group>
            <mat-card-content>
              <p>
                application which allows managing roles in any school (Admin –
                Teacher – Student) View and get data for each role based on JWT
                Auth
              </p>
              <h4>Description</h4>
              <p>
                Help to build API and implement all functions with Sql Server
                Building front end using angular with Material design <br />
              </p>
            </mat-card-content>
          </mat-card>
        </div>
      </mat-grid-tile>
      <mat-grid-tile data-aos="flip-left" data-aos-duration="1000">
        <div class="tile">
          <mat-card class="example-card" [ngClass]="cardhe">
            <img src="../assets/img/code.jpg" alt="" />
          </mat-card>
        </div>
      </mat-grid-tile>
      <mat-grid-tile data-aos="flip-right" data-aos-duration="1000">
        <div class="tile">
          <mat-card class="example-card">
            <div class="overlay">
              <div class="text">
                <button mat-raised-button color="primary">check it</button>
              </div>
            </div>
            <mat-card-title-group>
              <mat-card-title>
                <h4>
                  <mat-icon>app_registration</mat-icon>
                  EPMS
                </h4>
              </mat-card-title>
              <mat-card-subtitle>
                <p>Client : Syriatel Company</p>
              </mat-card-subtitle>
            </mat-card-title-group>
            <mat-card-content>
              <p>
                Employee performance management system is evaluation of an
                individual's work based primarily on objective Help and
                understanding how your employees contributing to your business.
              </p>
              <h3>Description</h3>
              <p>
                Responsive and two mode Interface that wit big dashboard for
                data Building front end using angular framework with Material
                design
              </p>
            </mat-card-content>
          </mat-card>
        </div>
      </mat-grid-tile>
      <mat-grid-tile data-aos="flip-left" data-aos-duration="1000">
        <div class="tile">
          <mat-card class="example-card" [ngClass]="cardhe">
            <img src="../assets/img/code.jpg" alt="" />
          </mat-card>
        </div>
      </mat-grid-tile>
      <mat-grid-tile data-aos="flip-right" data-aos-duration="1000">
        <div class="tile">
          <mat-card class="example-card">
            <div class="overlay">
              <div class="text">
                <button mat-raised-button color="primary">check it</button>
              </div>
            </div>
            <mat-card-title-group>
              <mat-card-title>
                <h3>
                  <mat-icon>app_registration</mat-icon>
                  Site Revenues System
                </h3>
              </mat-card-title>
              <mat-card-subtitle>
                <p>Client : Syriatel Company</p>
              </mat-card-subtitle>
            </mat-card-title-group>
            <mat-card-content>
              <p>
                SPA Is an application to help and monitor data and visualize it
                to make reports For each site and maintain its revenue Per Area
              </p>
              <h3>Description</h3>
              <p>
                SPA System built using : <br />
                backend is built using ASP.NET framwork core 3 C# language
                <br />
                Frontend using angular framework 12 <br />
              </p>
            </mat-card-content>
          </mat-card>
        </div>
      </mat-grid-tile>
      <mat-grid-tile data-aos="flip-left" data-aos-duration="1000">
        <div class="tile">
          <mat-card class="example-card" [ngClass]="cardhe">
            <img src="../assets/img/code.jpg" alt="" />
          </mat-card>
        </div>
      </mat-grid-tile>
      <mat-grid-tile data-aos="flip-right" data-aos-duration="1000">
        <div class="tile">
          <mat-card class="example-card">
            <div class="overlay">
              <div class="text">
                <button mat-raised-button color="primary">check it</button>
              </div>
            </div>
            <mat-card-title-group>
              <mat-card-title>
                <h3>
                  <mat-icon>app_registration</mat-icon>
                  Product monitoring System
                </h3>
              </mat-card-title>
              <mat-card-subtitle>
                <p>Client : Syriatel Company</p>
              </mat-card-subtitle>
            </mat-card-title-group>
            <mat-card-content>
              <p>
                PMS An application that helps to create a broader understanding
                of the offers offered  to build a database that
                helps in the future to give better offers
              </p>
              <h3>Description</h3>
              <p>
                builds API and implement all functions
                Building front end using angular 12 with Material design
              </p>
            </mat-card-content>
          </mat-card>
        </div>
      </mat-grid-tile>
      <mat-grid-tile data-aos="flip-left" data-aos-duration="1000">
        <div class="tile">
          <mat-card class="example-card" [ngClass]="cardhe">
            <img src="../assets/img/code.jpg" alt="" />
          </mat-card>
        </div>
      </mat-grid-tile>
    </mat-grid-list>
    <mat-divider></mat-divider>
  </section>

  <section id="Resume" data-aos="fade-up" data-aos-duration="1000">
    <mat-grid-list [cols]="projectscols2" [rowHeight]="rows">
      <!-- <mat-grid-tile>
        <div class="resume">
          <div>
            <mat-card [ngClass]="cardresumehe">
              <mat-card-title-group>
                <mat-card-title>
                  <h3>Hasan Suliman</h3>
                </mat-card-title>
                <mat-card-subtitle>
                  <p>Software Engineer - Frontend Developer - Data Analyest</p>
                </mat-card-subtitle>
              </mat-card-title-group>
            </mat-card>
          </div>
          <div>
            <p><mat-icon>call</mat-icon><a href="tel:#"> </a>+963 993 995199</p>

            <p>
              <mat-icon>mail</mat-icon
              ><a href="mailto:#"> </a> hassnsuliman50@gmail.com
            </p>

            <p>
              <mat-icon>website</mat-icon
              ><a href="mailto:#"></a> www.portfolio.com
            </p>

            <p>
              <mat-icon>assistant_navigation</mat-icon
              ><a href="mailto:#"> </a> Damascus
            </p>
          </div>
        </div>
      </mat-grid-tile> -->

      <mat-grid-tile data-aos="flip-left" data-aos-easing="ease-out-cubic" data-aos-duration="2000">
        <div class="a1">
          <h2 class="section-title">Resume</h2>
          <p>Software Engineer For Syriatel Company<br /></p>
          <p>Frontend Developer - Angular FrameWork <br /></p>
          <p>
            Data Analyest - MIS Sales And Marketing Information for Syriatel
            Company
          </p>
        </div>
      </mat-grid-tile>
      <mat-grid-tile data-aos="flip-left" data-aos-easing="ease-out-cubic" data-aos-duration="2000">
        <div class="a2" [ngClass]="a2port">
          <p>
            <mat-icon>call</mat-icon><a href="tel:#"> +963 993 995199</a>
          </p>

          <p>
            <mat-icon>mail</mat-icon><a href="mailto:#"> hassnsuliman50@gmail.com</a>
          </p>

          <p>
            <mat-icon>website</mat-icon><a href="//https:www.portfolio.com">www.portfolio.com </a>
          </p>

          <p>
            <mat-icon>assistant_navigation</mat-icon><a> Damascus </a>
          </p>
        </div>
      </mat-grid-tile>
    </mat-grid-list>
    <mat-grid-list [cols]="projectscols2" [rowHeight]="resrows">
      <mat-grid-tile data-aos="flip-left" data-aos-duration="1000">
        <div class="tile">
          <h4>Data science</h4>
          <p>
            My work for Syriatel company as head of Sales Section team based on
            the use of scientific methods, processors, algorithms, and systems
            to extract knowledge and ideas from data in its two forms,<br />
            <br />
            2 Years experiance in syriatel working with database and building
            <br />
            powerful tools to monitor and maintain that data
          </p>
        </div>
      </mat-grid-tile>
      <mat-grid-tile data-aos="flip-right" data-aos-duration="1000">
        <div class="tile">
          <h4>Lead Software Developer</h4>
          <p>
            Lead a team to build two applications for the sales department And
            deliver them on time The following applications have been built
          </p>
          <ul>
            <li>SRS</li>
            <li>SPA</li>
          </ul>
          <p>The following application is being worked on</p>
          <ul>
            <li>Offers System</li>
          </ul>
        </div>
      </mat-grid-tile>
      <mat-grid-tile data-aos="flip-left" data-aos-duration="1000">
        <div class="tile">
          <h4>Frontend Develoer</h4>
          <p>
            build and desighn interfaces for sales section in Syreatel using
            angular Framework with material and bootstrap design U can visite my
            projects section
          </p>
          <h4>Backend Develoer</h4>
          <p>
            helped to build API's using C# and asp.net Framework Core 5 for
            sales section
          </p>
        </div>
      </mat-grid-tile>
      <mat-grid-tile data-aos="flip-right" data-aos-duration="1000">
        <div class="tile">
          <h4>Personal</h4>
          <p>
            working on Design and bulid Epms inteface that handle the
            performance of any company's employee with Angular Framwork
          </p>
          <h4>Technical</h4>
          <p>Angular & Vue / HTML & CSS Material and bootstrap design</p>
          <p>Asp.net with C#</p>
          <p>SQL/MySQL/Oracle Design and implement database structures</p>
        </div>
      </mat-grid-tile>
      <mat-grid-tile data-aos="flip-left" data-aos-duration="1000">
        <div class="tile">
          <h4>Educatin</h4>
          <p>Computer And Autmation Engineering Damascus University 2020</p>
          <p>
            Graduation Project : web Application to simulate VisaCard with 3
            Roles <br />
          </p>
          <ul>
            <li>Admins</li>
            <li>Sealers</li>
            <li>Customers</li>
          </ul>
        </div>
      </mat-grid-tile>
      <mat-grid-tile data-aos="flip-right" data-aos-duration="1000">
        <div class="tile">
          <h4>Interest</h4>
          <p>Swimming - Traveling - Football</p>
          <p>Super Cars <br /></p>
          <p>keep up with technology And get updates constantly</p>
          <p>Constantly trying new things to break the routine</p>
        </div>
      </mat-grid-tile>
    </mat-grid-list>
  </section>

  <section id="exp" data-aos="fade-up" data-aos-duration="1000">
    <div class="hg">
      <h2 class="section-title">Work Experiance</h2>
    </div>

    <mat-grid-list [cols]="gaugecol" [rowHeight]="rows2">
      <mat-grid-tile data-aos="zoom-out">
        <div class="tileg">
          <h4>
            <mat-icon>list</mat-icon>Sales Support 2022 Syriatel Company
          </h4>
          <p>
            <mat-icon>done</mat-icon>
            Monitor and maintain data for all web applications.
          </p>
          <p>
            <mat-icon>done</mat-icon>Building web applications to simplify works
            to watch
          </p>
          <p>
            <mat-icon>done</mat-icon> maintain all reports
          </p>
          <p>
            <mat-icon>done</mat-icon>Building new tools to maintain and organize
            sales database
          </p>
        </div>
      </mat-grid-tile>
      <mat-grid-tile data-aos="zoom-out">
        <div class="tileg">
          <h4>
            <mat-icon>list</mat-icon>Information analyst 2021 Syriatel Company
          </h4>
          <p>
            <mat-icon>done</mat-icon>
            Analysis data and build web reports for management as dashboard.
          </p>
          <p>
            <mat-icon>done</mat-icon>Build algorithms to organize and recognize
            data.
          </p>
          <p>
            <mat-icon>done</mat-icon>Monitor and maintain data for all web
            applications.
          </p>
          <p>
            <mat-icon>done</mat-icon> Build management tools to manage and
            monitor data under demand.
          </p>
        </div>
      </mat-grid-tile>
    </mat-grid-list>
    <div class="hg">
      <h2 class="section-title">Skills</h2>
    </div>

    <mat-grid-list [cols]="1" [rowHeight]="gaugerows">
      <mat-grid-tile [ngStyle]="{ overflow: guagetile }" data-aos="flip-left" data-aos-duration="1000">
        <div class="tilegauge">
          <ngx-gauge *ngFor="let item of gauge" [type]="'arch'" [value]="item.gaugeValue" [foregroundColor]="fgc"
            [backgroundColor]="backgroundColor" [thick]="thick" [cap]="'round'" [label]="item.gaugeLabel"
            [append]="item.gaugeAppendText">
          </ngx-gauge>
        </div>
      </mat-grid-tile>
    </mat-grid-list>
  </section>

  <section id="Contact" data-aos="fade-up" data-aos-duration="1000">
    <div class="hg">
      <h2 class="section-title">Contact</h2>

      <p>Interested in hiring me for your project or just want to say hi?</p>
      <p>
        You can fill in the contact form below or send me an email to
        <a href="mailto:#">hassnsuliman50@gmail.com</a>
      </p>
    </div>

    <mat-grid-list [cols]="1" [rowHeight]="rowscont">
      <mat-grid-tile>
        <div class="forms">
          <div class="name">
            <input placeholder="Name" type="text" data-aos="flip-left" data-aos-duration="1000" />
          </div>
          <div class="name">
            <input placeholder="Email" type="text" data-aos="flip-right" data-aos-duration="1000" />
          </div>
          <div class="name">
            <input placeholder="Company" type="text" data-aos="flip-left" data-aos-duration="1000" />
          </div>
          <div class="name">
            <mat-select placeholder=" Intersted" data-aos="flip-right" data-aos-duration="1000">
              <mat-option *ngFor="let item of intersted" value="item">{{
                item
                }}</mat-option>
            </mat-select>
            <!-- <select placeholder="Interested"  class="mat-form-field" ><option *ngFor="let item of intersted">{{item}}</option></select> -->
          </div>
          <div class="textra">
            <textarea matInput placeholder=" ..." data-aos="zoom-in"></textarea>
          </div>
        </div>
      </mat-grid-tile>
    </mat-grid-list>
  </section>
</div>

<router-outlet></router-outlet>
